form{
    width: 550px;
    border: 1px solid gray;
    padding: 10px;
}
form .image{
    display: flex;
}
form .image img{
    width: 100px;
    height: 60px;
    border: 1px solid gray;
    margin-right: 10px;
    border-radius: 5%;
}
form .image img:hover{
    cursor: pointer;
    background-color: rgb(182, 237, 249);
}
form .date{
    display: flex;
    gap: 10px;
}
form button{
    color: aliceblue;
    background-color: rgb(59, 114, 223);
    width: 100px;
    height: 30px;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

table img{
    width: 100px;
}